<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
	
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}







</style>


</head>
<body>

<h2>This is the store page</h2>
<a href="home.html">Click Me</a>



<div class="card">
  <img src="/home/student/Desktop/Y2L-Flask-Routing/Y2L-Flask-Routing/dress1.jpg" alt="" style="width:100%">
  <h1>Tulip Dress</h1>
  <p class="price">250$</p>
  <p></p>
  <p><button><a href="/add_cart/{{product.id}}">Add to Cart</a></button></p>
</div>
<br><br>

<div class="card">
  <img src="/home/student/Desktop/Y2L-Flask-Routing/Y2L-Flask-Routing/dress2.jpg" alt="" style="width:100%">
  <h1>Mini Dress</h1>
  <p class="price">100$</p>
  <p></p>
  <p><button><a href="/add_cart/{{product.id}}">Add to Cart</a></button></p>
</div>
<br><br>

<div class="card">
  <img src="" alt="" style="width:100%">
  <h1></h1>
  <p class="price"></p>
  <p></p>
  <p><button><a href="/add_cart/{{product.id}}">Add to Cart</a></button></p>
</div>
<br><br>

<div class="card">
  <img src="" alt="" style="width:100%">
  <h1></h1>
  <p class="price"></p>
  <p></p>
  <p><button><a href="/add_cart/{{product.id}}">Add to Cart</a></button></p>
</div>
{% for p in Products %}
<div class= "card">
  <h1>{{p.name}}</h1>
  <p class="price">Adopt</p>
  <img src="Picture_Link">
  <p class="Description"> {{p.Description}}</p>
</div>
{% endfor %}
<br>
<br>
</body>
</html>
